@use "../../../utils/variables.scss";

#character-page {
  .character-links {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 1.5rem;
    align-items: center;
    font-size: 1.2rem;

    a {
      text-decoration: none;
    }
    a:hover {
      color: variables.$orange;
      text-decoration: underline;
    }

    .main-character {
      font-family: "Gravedigger";
      font-size: 2.5rem;
      color: variables.$orange;
    }
  }
}

.character {
  padding: 0 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75ch;

  .subheader {
    margin-bottom: 1rem;
  }
  .description {
    padding: 2rem 0;
  }
}
